@import 'variables';

.filter {
  border: none;
  background-color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  color: $black-two;
  font-size: 0.813rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1.9px;
}
