@import 'variables';

body {
  background-color: $pale-grey;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;

  .app {
    width: 87.5rem;
    min-height: 68.563rem;
    margin: auto;
    padding: 0 0 16.625rem;
    border-radius: 4px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
    background-color: #fafafa;

    h1 {
      font-size: 1.875rem;
      font-family: Montserrat, sans-serif;
      color: $azure;
    }
  }
}
