/* Color Variable */

$pale-grey: #f5f6fa;
$black: #000;
$smoke: #fafafa;
$white: #fff;
$azure: #0290ff;
$black-two: #121212;
$metal-blue: #4386bf;
$warm-grey: #888;
$pinkish-grey: #c4c4c4;
$soft-pinkish-grey: #c7c7c7;
$dodger-blue: #379cf6;
$medium-blue: #307bbe;
